## 아이디어

- 30타석 기준으로 자르기
- batter를 기준 데이터로
- 연봉은 제일 최신 연봉?
- hts : 최고타구속도, 평균각도, 배럴갯수, 배럴타구율

In [2]:
import pandas as pd

schedule = pd.read_csv('./Train/2021 빅콘테스트_데이터분석분야_챔피언리그_스포츠테크_경기일정_2021.csv', encoding='cp949')
player_18 = pd.read_csv('./Train/2021 빅콘테스트_데이터분석분야_챔피언리그_스포츠테크_선수_2018.csv', encoding='cp949')
player_19 = pd.read_csv('./Train/2021 빅콘테스트_데이터분석분야_챔피언리그_스포츠테크_선수_2019.csv', encoding='cp949')
player_20 = pd.read_csv('./Train/2021 빅콘테스트_데이터분석분야_챔피언리그_스포츠테크_선수_2020.csv', encoding='cp949')
player_21 = pd.read_csv('./Train/2021 빅콘테스트_데이터분석분야_챔피언리그_스포츠테크_선수_2021.csv', encoding='cp949')
batter_18 = pd.read_csv('./Train/2021 빅콘테스트_데이터분석분야_챔피언리그_스포츠테크_타자 기본_2018.csv', encoding='cp949')
batter_19 = pd.read_csv('./Train/2021 빅콘테스트_데이터분석분야_챔피언리그_스포츠테크_타자 기본_2019.csv', encoding='cp949')
batter_20 = pd.read_csv('./Train/2021 빅콘테스트_데이터분석분야_챔피언리그_스포츠테크_타자 기본_2020.csv', encoding='cp949')
batter_21 = pd.read_csv('./Train/2021 빅콘테스트_데이터분석분야_챔피언리그_스포츠테크_타자 기본_2021.csv', encoding='cp949')
team = pd.read_csv('./Train/2021 빅콘테스트_데이터분석분야_챔피언리그_스포츠테크_팀.csv', encoding='cp949')
hts_18 = pd.read_csv('./Train/2021 빅콘테스트_데이터분석분야_챔피언리그_스포츠테크_HTS_2018.csv', encoding='cp949')
hts_19 = pd.read_csv('./Train/2021 빅콘테스트_데이터분석분야_챔피언리그_스포츠테크_HTS_2019.csv', encoding='cp949')
hts_20 = pd.read_csv('./Train/2021 빅콘테스트_데이터분석분야_챔피언리그_스포츠테크_HTS_2020.csv', encoding='cp949')
hts_21 = pd.read_csv('./Train/2021 빅콘테스트_데이터분석분야_챔피언리그_스포츠테크_HTS_2021.csv', encoding='cp949')
# valid = pd.read_excel('./Valid/2021 빅콘테스트_데이터분석분야_챔피언리그_스포츠테크_평가데이터.xlsx')

In [3]:
schedule

,G_ID,GDAY_DS,VISIT_KEY,HOME_KEY,HEADER_NO,GWEEK,STADIUM,ACG
0,20210403SSWO0,20210403.0,SS,WO,0,토,고척,1
1,20210404HHKT0,20210404.0,HH,KT,0,일,수원,1
2,20210404HTOB0,20210404.0,HT,OB,0,일,잠실,1
3,20210404LGNC0,20210404.0,LG,NC,0,일,창원,1
4,20210404LTSK0,20210404.0,LT,SK,0,일,문학,1
...,...,...,...,...,...,...,...,...
715,NaN,NaN,KT,WO,0,NaN,고척,2
716,NaN,NaN,NC,WO,0,NaN,고척,2
717,NaN,NaN,NC,WO,0,NaN,고척,2
718,NaN,NaN,NC,WO,0,NaN,고척,2
719,NaN,NaN,SS,WO,0,NaN,고척,2

In [4]:
player_21[player_21['PCODE'] == 67872]

     GYEAR  PCODE NAME T_ID POSITION  AGE_VA     MONEY
448   2021  67872   로맥   SK        내      35  900000달러

In [5]:
batter_20.head()

,GYEAR,PCODE,GAMENUM,PA,AB,BA,HIT,HR,TOTB,SLG,SF,BB,KK,IB,HP,GD
0,2020,50054,66,77,69,0.203,14,0,17,0.246,0,7,15,0,1,0
1,2020,50066,26,32,30,0.200,6,1,11,0.367,0,2,11,0,0,1
2,2020,50150,23,31,30,0.367,11,0,13,0.433,0,1,6,0,0,2
3,2020,50165,117,494,431,0.278,120,38,255,0.592,4,55,136,5,4,7
4,2020,50202,68,41,37,0.270,10,0,10,0.270,1,2,5,0,0,1

In [6]:
hts_21[hts_21['HIT_RESULT'] == '홈런'].describe()

        GYEAR         PCODE         INN     HIT_VEL  HIT_ANG_VER     PIT_VEL
count   681.0    681.000000  681.000000  681.000000   681.000000  681.000000
mean   2021.0  67889.671072    4.913363  154.347342    28.703524  135.879897
std       0.0   8789.101038    2.474543    6.906512     5.630065    8.718987
min    2021.0  50165.000000    1.000000  132.740000    15.900000  109.260000
25%    2021.0  62931.000000    3.000000  149.760000    24.700000  129.780000
50%    2021.0  68346.000000    5.000000  154.770000    28.100000  137.890000
75%    2021.0  75847.000000    7.000000  159.110000    32.300000  142.490000
max    2021.0  79608.000000   12.000000  173.850000    49.600000  155.840000

In [7]:
player = pd.concat([player_18, player_19, player_20, player_21])
batter = pd.concat([batter_18, batter_19, batter_20, batter_21])
hts = pd.concat([hts_18, hts_19, hts_20, hts_21])

In [8]:
hts

,GYEAR,G_ID,PIT_ID,PCODE,T_ID,INN,HIT_VEL,HIT_ANG_VER,HIT_RESULT,PIT_VEL,STADIUM
0,2018,20180324HHWO0,180324_140436,62797,HH,1,131.50,42.7,플라이,149.59,고척
1,2018,20180324HHWO0,180324_140514,76753,HH,1,135.18,9.9,1루타,148.78,고척
2,2018,20180324HHWO0,180324_140647,71752,HH,1,152.41,2.1,1루타,148.59,고척
3,2018,20180324HHWO0,180324_140911,62700,HH,1,113.72,13.5,1루타,139.13,고척
4,2018,20180324HHWO0,180324_142050,68730,HH,2,54.11,16.4,번트안타,134.07,고척
...,...,...,...,...,...,...,...,...,...,...,...
17959,2021,20210711LTSS0,210711_195321,50458,SS,8,141.23,-4.9,땅볼아웃,137.76,대구
17960,2021,20210711LTSS0,210711_195424,62415,SS,8,101.09,31.8,1루타,138.51,대구
17961,2021,20210711LTSS0,210711_195627,75566,SS,8,146.84,33.4,홈런,134.10,대구
17962,2021,20210711LTSS0,210711_200047,69418,SS,8,146.12,23.9,홈런,139.96,대구
17963,2021,20210711LTSS0,210711_200245,64793,SS,8,140.45,28.2,플라이,137.36,대구

## 배럴 모형 설정

- MLB와 KBO의 평균 타구속도 및 발사각도 비교
    - MLB와 KBO의 평균 타구속도/ 발사각도 비교
- 장타(홈런, 2루타, 3루타)의 평균 타구속도와 평균 발사각도 / 각각의 분포
- OPS 상위타자들의 평균 타구속도와 평균 타구각도

### 1. MLB와 KBO의 평균 타구속도 비교

In [22]:
mlb_bat = pd.read_csv('./mlb_batters.csv')
mlb_bat.head()

,last_name,first_name,player_id,year,slg_percent,on_base_percent,on_base_plus_slg,exit_velocity_avg,launch_angle_avg,sweet_spot_percent,barrel_batted_rate,hard_hit_percent,Unnamed: 12
0,Pujols,Albert,405395,2019,0.430,0.305,0.734,88.3,12.5,26.5,5.8,36.6,NaN
1,Cabrera,Miguel,408234,2019,0.398,0.346,0.744,90.4,12.3,37.7,6.7,44.6,NaN
2,Mathis,Jeff,425772,2019,0.224,0.209,0.433,86.1,16.9,29.6,1.4,26.4,NaN
3,Choo,Shin-Soo,425783,2019,0.455,0.371,0.826,91.9,9.1,32.1,9.0,48.7,NaN
4,Wainwright,Adam,425794,2019,0.220,0.169,0.389,87.9,14.6,27.0,0.0,22.2,NaN

In [23]:
mlb_bat['exit_velocity_avg'] = mlb_bat['exit_velocity_avg'] * 1.609344
mlb_bat.mean()

player_id             578706.867261
year                    2019.416048
slg_percent                0.393298
on_base_percent            0.305144
on_base_plus_slg           0.698448
exit_velocity_avg        141.959605
launch_angle_avg          12.152254
sweet_spot_percent        32.756959
barrel_batted_rate         7.012878
hard_hit_percent          35.758049
Unnamed: 12                     NaN
dtype: float64